



































































































#FrontNavBar
{
	background-color: black;
	padding-left: 25%;
	padding-right: 25%;
}

#FrontNavBar li
{
	float: left;
	border-right: 1px solid #bbb;
}

#FrontNavBar li:last-child
{
	border-right: none;
}

#FrontNavBar a
{
	padding-left: 10px;
}

#FrontNavBar li a
{
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;

}

#FrontNavBar li a.hover
{
	background-color: #111;
}

#FrontNavBar ul 
{
	overflow: hidden;
	background-color: black;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ative
{
	background-color: gray;

}

#MiddleScreenText
{
	max-width: 80%;
	padding-top: 1%;
	padding-left: 25%;
	padding-right: 25%;
	/*border-style: solid;*/
	/*border-size: 1px;*/
}
#MiddleScreenText img
{
	max-width: 80%;
	height: 400px;
	width: 670px;
}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
