------------ Header ---------------
/* Navbar container/ hele navbaren */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inde i navbaren */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  margin-left: 100px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* dropdown <div> */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown knappen */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

/* Tilføjer farve til knapper i navbaren når man holder musen over */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: blue;
}

/* Dropdown indhold (gemt som standart) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inde i dropdown menu'en */
.dropdown-content a {
  float: none;
  color: black;
  margin-left: 0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Tilføjer farvet baggrund til dropdown links når man holder musen over */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Viser dropdown menu nåe man holder musen over */
.dropdown:hover .dropdown-content {
  display: block;
} 
-------------- End of Header --------

-------------- Front ----------------
#FrontNavBar
{
	background-color: black;
	padding-left: 25%;
	padding-right: 25%;
}

#FrontNavBar li
{
	float: left;
	border-right: 1px solid #bbb;
}

#FrontNavBar li:last-child
{
	border-right: none;
}

#FrontNavBar a
{
	padding-left: 10px;
}

#FrontNavBar li a
{
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;

}

#FrontNavBar li a.hover
{
	background-color: #111;
}

#FrontNavBar ul 
{
	overflow: hidden;
	background-color: black;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ative
{
	background-color: gray;

}

#MiddleScreenText
{
	max-width: 80%;
	padding-top: 1%;
	padding-left: 25%;
	padding-right: 25%;
	/*border-style: solid;*/
	/*border-size: 1px;*/
}
#MiddleScreenText img
{
	max-width: 80%;
	height: 400px;
	width: 670px;
}
----------- End of Front -----------